/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

.avatar {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: clamp(2.25rem, 2vw + 2rem, 4.25rem);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  max-width: 300px;
  width: 100%;
  font-weight: 700;
  line-height: 20px;
  padding: 16px 10px 12px 10px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  
}
.button:hover,
.button:focus-visible {
  color: #212121;
  border-color: #888;
  filter: brightness(90%);
  outline: #7AB8FF solid 3px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus-visible {
  color: #fff;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #2457F5;
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}

/* Facebook */
.button.button-faceb {
  color: #ffffff;
  background-color: #1877f2;
}

/* Kick */
.button.button-kick {
  background-color:#000000;
  color:  #ffffff;
  border: 1px solid #ffffff;
}

/* Kick Alt */
.button.button-kick-alt {
  background-color:#01e701;
  color:  #000;
}

/* Kickstarter */
.button.button-kickstarter {
  color: #ffffff;
  background-color: #05ce78;
}

/* Website */
.button.button-web {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

/* X */
.button.button-x {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

/* YouTube */
.button.button-yt {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

/* Screentop */
.button.button-screentop {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

/* Google Docs */
.button.button-google-docs {
  color: #FFFFFF;
  background-color: #4285F4;
  border: 1px solid #FFFFFF;
}

body {
  background-color: #E8E5E8;
}